html, body{
	font-size: 100%;
}

.full {
	width: columns(12);
}

.half {
	width: columns(6);
}

.third {
	width: columns(6);
}

.quarter {
	width: columns(6);
}

.slant-bottom-left {
	clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.slant-top-right {
	clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.slant-top-right-slant-bottom-left {
	clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
}

.right_lines{
	right: 0;
	position: absolute;
	width: 35%;
	height: 100%;
	transform: translateY(-5%);
	overflow: hidden;
	display: block;
}

.left_lines{
	left: -10%;
	position: absolute;
	width: 45%;
	height: 100%;
	transform: translateY(-5%);
	display: block;
}

.modal {
	width: columns(6);
	border-left: 10px solid transparent;
	padding: 50px;
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.limit-width {
  width: columns(6);
  margin: 0 auto;
}